* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/* BODY & PAGE LAYOUT */

body {
    font-family: "Titillium Web", sans-serif;
    background: url(images/mural-esquerda.jpg) left top no-repeat,
    url(images/mural-direita.jpg) right top no-repeat;
    background-attachment: fixed;
    background-size: contain;
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 100%;
    min-width: 1070px;
}

.titulo, titulo-equipe {
    padding-left: 15px;
    font-size: 30px;
}




/* MAIN CONTAINER */

section.container {
    flex: 1;
    margin: 0 auto;
    max-width: 85%;
    border-left: 3px solid black;
    border-right: 3px solid black;
    background-color: #fff;
    min-height: 100vh;
    min-width: 1016px;
}

hr {
    color: black;

}




/* BARRA DE NAVEGAÇÃO */

nav {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgb(45, 45, 45);
    color: white;
    border-top: none;
    background-repeat: no-repeat;
    background-size: auto;
}

section.section-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    margin-top: 2px;
    max-width: 150px;
    object-fit: contain;
    display: block;
    margin-left: 3px;
}

.logo-link {
    display: block;
    max-height: 100%;}





/* IMAGENS */

figure.imagem-carro {
    display: inline-block;
    text-align: center;

}

figure.imagem-carro img {
    max-height: 360px;
    max-width: 480px;
    min-height: 180px;
    min-width: 240px;
    object-fit: contain;
    border-radius: 10px;
    margin-left: 6px;
    margin-right: 6px;
}


div.esquerda, div.direita {
    display: flex;
    margin: 20px;

}

div.esquerda {
    justify-content: flex-start;

}

div.direita {
    justify-content: flex-end;
}

#redbull {
    margin-top: 0;
    padding-top: 20px;
}

#stake {
    margin-bottom: 0;
    padding-bottom: 20px;
}




/* RODAPÉ */

footer {
    width: 100%;
    height: auto ;
    background-color: rgb(45, 45, 45);
    text-align: center;
    padding: 20px;
    color: white;
    position: relative;
}





/* LINKS DE NAVEGAÇÃO */

nav ul {
    list-style: none;
    display: flex;
    margin-left: auto;
}

nav ul li {
    margin: 0 5px;
    position: relative;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

nav ul li a:hover {
    background-color: #555;
}

nav ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li {
    display: block;
}

nav ul li ul li a {
    padding: 10px;
    width: 200px;
}