* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

/* NAV */

nav {
    height:50px;
    width: 100%;
    background-color:rgb(218, 218, 218) ;
    border-bottom: 1px solid black;
}

/* BODY */

body {
    font-family: "Titillium Web", sans-serif;
    background-image: url(images/mural-senna2.jpg);
}

p.nome-time-direita {
    text-align: right;
}

p.nome-time-esquerda {
    text-align: left;
}

div.p-esquerda, div.p-direita {
    display: inline-block;
    text-align: left;
    vertical-align: top;
}

figure.imagem-carro {
    display: inline-block;
}

figure.imagem-carro figcaption {
    text-align: center;
}

figure.imagem-carro img {
    max-height: 360px;
    max-width: 480px;
    min-height: 180px;
    min-width: 240px;
    object-fit: contain;
    border-radius: 10px;
}

div.esquerda {
    display: flex;
    justify-content: left;
    margin:20px;
}

div.direita {
    display: flex;
    justify-content: right;
    margin:20px;
}

section.container {
    margin:auto;
    max-width: 90%;
    border: 1px solid black;
    background-color: rgba(218, 218, 218, 0.9);
}
